@charset "UFT-8"; 
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

/* 초기화 */
* {
    margin: 0; padding: 0;
    font: normal 13px 'Gothic A1', sans-serif;
}

ul { list-style: none; }

a { text-decoration: none !important; }

#intrd_wrap {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    max-width: 1126px;
}

/* gnb */
#intrd_gnb {
    background-color: #536B78;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 70px;
}

#intrd_gnb ul {
    padding: 5px 0;
    height: 60px;
    width: 775px;
    display: inline-block;
}

#intrd_gnb li {
    width: 120px;
    display: inline-block;
    margin: 15px 50px;
}

#intrd_gnb li a {
    color: black;
    font-size: 20px;
}

#intrd_gnb li:hover {
    border: 3px solid #FAF0CA;
    border-radius: 5px;
    padding: 5px 30px;
}

/* 콘텐츠 전체 */

#intrd_content {
    margin: 0 auto;
    overflow: hidden;
}

#intrd_content img {
    width: 530px;
    height: 337.5px;
}

.intrd_first {
    float: left;
    width: 100%;
}
.intrd_first img {
    float: left;
}

.intrd_second {
    float: right;
    width: 100%;
}
.intrd_second img {
    float: right;
}

.intrd_third {
    width: 100%;
    float: left;
}
.intrd_third img {
    float: left;
}

.intrd_text {
    margin: 20px;
    margin-top: 100px;
}

#intrd_content p {
    width: calc(100%-530px);
    font-size: 25px;
    color: #050517;
}

@media screen and (max-width:775px){
    #intrd_content {
        float: none;
    }
    #intrd_content img {
        width: 100%;
    }
    .intrd_first_text, .intrd_second_text, .intrd_third_text {
        line-height: none;
    }

}